## mako
<%!
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />
<%block name="pagetitle">${_("Privacy Policy")}</%block>

 <div>
    <style>    
        .step{
            margin-inline-start: -2% !important; 
        } 
        ul {
            list-style: circle !important;
        }
        
        .titleText {
            font-weight: 600 !important;
            margin-inline-start: -1.9% !important
        }
        .stepParag{
            margin-inline-start: -1% !important;
        }
        .spaceSpan{
            margin-inline-start: 2% !important;
        }
    
    </style>
    <section class="privacyPolicy" style="text-align: left !important; padding: 3% !important;">
        <div>
            <h2>
                Privacy Policy
            </h2>
            <ol start="1">
                <li class="titleText">
                    <span class="spaceSpan">Purpose of Privacy Policy</span>  
                </li>            
                    <p>
                        Geoscience Australia (<strong>we, our, us</strong>), an Australian Government entity, is leading the establishment of Digital Earth Africa (<strong>DE Africa</strong>), a program through which a number of important products and services can be accessed via <a href="https://www.digitalearthafrica.org">www.digitalearthafrica.org</a> (<strong>Website</strong>). 
                    </p>                
                    <p>
                        We are bound by applicable Australian privacy laws and we are committed to protecting your privacy, in accordance with the Australian Privacy Principles set out in the <i>Privacy Act 1988</i> (Cth) (<strong>Privacy Act</strong>). 
                    </p>                
                    <p>
                        This Privacy Policy is intended to give you a better understanding about how your personal information is collected, used, stored and disclosed. It also contains information about the ways in which you can access and correct your personal information, and how to make an enquiry or complaint.  
                    </p>
               
            </ol>
            <hr>
            <ol start="2">
                <li class="titleText">
                    <span class="spaceSpan">What is personal information?  </span> 
                </li>
                <p>
                    Personal information means information or an opinion, whether true or not and whether recorded in a material form or not, about an individual who is identified or reasonably identifiable.  
                </p>
            </ol>
            <hr>
            <ol start="3">
                <li class="titleText">
                    <span class="spaceSpan">Collection and use of personal information </span>
                </li>
               
                <p>
                    The personal information that we collect about you depends on how you choose to interact with us, including via the Website. For example, we may collect your personal information (e.g. your name and contact details) when you:  
                </p>
                <ul class="step">
                    <li>
                        register to use the products and services accessible via the Website; 
                    </li>
                    <li>
                        contribute code to the Website; 
                    </li>
                    <li>
                        contact us by completing online forms or by sending emails to us (including emails sent to support teams);
                    </li>
                    <li>
                        participate in user surveys; or
                    </li>
                    <li>
                        participate in public mailing lists, chat rooms, forums, webinars, and other interactive experiences accessible via the Website. 
                    </li>
                    <p class="stepParag">
                        We may collect this personal information from you, or from any third parties that operate, or are involved in operating, the products and services accessible via the Website. 
                    </p>
                    <p class="stepParag">
                        We collect and use your personal information for a range of purposes, including to:
                    </p>
                    <li>
                        operate and improve the Website; 
                    </li>
                    <li>
                        communicate with you;
                    </li>
                    <li>
                        offer, operate and improve the products and services accessible via the Website;
                    </li>
                    <li>
                        develop and maintain the security and performance of the Website;
                    </li>
                    <li>
                        track the usage of the Website against the goals and missions of the DE Africa program; and 
                    </li>
                    <li>
                        exercise, enforce and comply with our legal rights and obligations. 
                    </li>   
                    <p class="stepParag"> 
                        We do not plan to collect ‘sensitive information’ about you. However, we may collect ‘sensitive information’ about you if you choose to provide it when you use the Website (e.g. when you make a post in a forum on the Website). Sensitive information is generally afforded a higher level of protection under the Privacy Act.  
                    </p>                
                    <p class="stepParag">
                        We ensure that the personal information collected about you in connection with the Website is securely stored.
                    </p>                 
                </ul>
            </ol>
            <hr>
            <ol start="4">
                <li class="titleText">
                    <span class="spaceSpan">What happens if you do not provide us with your personal information?</span>
                </li>
                <p>
                    If you do not provide us with your personal information, you may not be able to access all of the products and services accessible via the Website. 
                </p>
            </ol>
            <hr>
            <ol start="5">
                <li class="titleText">
                    <span class="spaceSpan">Collection of information other than personal information </span>
                </li>
                <p >
                    When you visit the Website we may collect information about your interaction with the Website that is not personal information. This is because the Website uses cookies and other common tracking technologies to help us better understand your use and needs of the products and services offered via the Website. This is to ensure that we can continue to improve the products and services offered. 
                </p>
                <p>
                    For example:
                </p>
                <ul >
                    <li>
                       based on your cookie settings, we will track information indicating, among other things, which pages of the Website were visited, the order in which they were visited, when they were visited, and which hyperlinks and other user interface controls were used;
                    </li>
                    <li>
                        we may log the IP address, operating system, and browser software you used when accessing the Website, and we may be able to determine from an IP address your Internet Service Provider and the geographic location of your point of connectivity; and
                    </li>
                    <li>
                        we may track and collect information from emails that we send to you, for example whether you opened the email or clicked on any links from the email.
                    </li>
                    <p class="stepParag">
                        We also partner with third parties to help us track and understand your activity on the Website, and how you find or may be referred to the Website.
                    </p>
                    <p class="stepParag">
                        We use cookies and other tracking technologies for the following purposes:
                    </p>
                    <li>
                        System administration, security, and integrity to ensure the Website works properly for you. Without these technologies, the Website may not function correctly.
                    </li>
                    <li>
                        To enable analytics, performance and functionality, to help us gather information about how visitors use the Website, and monitor the Website’s performance, and to enhance your experience by recognising and remembering whether you have visited the Website before and may have any personal preferences.
                    </li>
                    <p class="stepParag">
                        You have some options for managing cookies and other tracking technologies. These include: 
                    </p>
                    <li>
                        Modifying your browser settings: You should be able to control how and whether your web browser accepts cookies by adjusting its privacy and security settings. The “help” feature of the menu bar on most browsers will tell you how to stop accepting new cookies, how to receive notification of new cookies, and how to disable existing cookies. If you reject our cookies, please note that the Website may not work properly.
                    </li>
                    <li>
                       Opting-out of certain third-party tracking and advertising: Some of the third parties we use for cookies and tracking technologies offer the ability to opt-out from their tracking by following processes described on their websites. 
                    </li>
                </ul>
            </ol>
            <hr>
            <ol start="6">
                <li class="titleText">
                    <span class="spaceSpan">Disclosure of personal information</span>
                </li>
                <p>
                    We may disclose your personal information to: 
                </p>
                <ul class="step">
                    <li>
                        service providers, contractors and other third parties that have been engaged to  assist us with the operation of the Website or operate, or assist to operate, the products and services accessible via the Website; 
                    </li>
                    <li>
                        other users of the Website and the products and services accessible via the Website, to create an interactive community environment; and 
                    </li>
                    <li>
                        any new operator of the Website (we intend to transition responsibility for the operation of the DE Africa program (and the Website) to a new operator over time). 
                    </li>
                </ul>
                <p>
                    You should ensure that you read any privacy material on any product or service platform that you access via the Website, as these may be different from this privacy policy if operated by a third party. 
                </p>
            </ol>
            <hr>
            <ol start="7">
                <li class="titleText">
                    <span class="spaceSpan"> Cross-border disclosure of personal information </span>
                </li>
                <p>
                    Your personal information may be disclosed to third parties that are located outside of Australia. For example, as the Website is transitioned to a new operator, we may need to disclose your personal information to the new operator, who is likely to be based outside of Australia.
                </p>
                <p>
                    However, we will comply with the requirements of the Privacy Act relating to the cross-border disclosure of personal information. 
                </p>
            </ol>
            <hr>
            <ol start="8">
                <li class="titleText">
                    <span class="spaceSpan"> Access to personal information</span>
                </li>
                <p >
                    You may request access to any information that we hold about you by contacting our Privacy Officer (see the contact details in section 11 below).  
                </p>
                <p >
                    When we hold information that you are entitled to access, we will provide it to you by suitable means (e.g. by mailing or emailing it to you) within 30 days of receipt of your request. We will not charge you for providing the information.
                </p>
                <p >
                    There may be rare instances in which we cannot grant you access to the personal information we hold. For example, we may need to refuse access if required, or authorised to do so, under Commonwealth law. If this occurs, we will give you written notice of the reasons for the refusal within 30 days of receipt of your request, together with information about how you can make a complaint.
                </p>            
            </ol>
            <hr>
            <ol start="9">
                <li class="titleText">
                    <span class="spaceSpan">Correction of personal information</span>
                </li>
                <p>
                    If you believe that the personal information we hold about you is incorrect or incomplete, you may request that we amend it. If we agree that the information requires amendment, we will make the amendment within 30 days of receiving your request, and will do so without charging you. In the unlikely event that we do not agree that there are grounds for amendment, we will give you written notice of the reasons for the refusal within 30 days of receipt of your request, together with information about how you can make a complaint. 
                </p>
                <p>
                    Please note that before amending your personal information, we may require verification of your identity. 
                </p>
            </ol>
            <hr>
            <ol start="10">
                <li class="titleText">
                    <span class="spaceSpan"> Complaints</span> 
                </li>
                <p>
                    If you would like to make a complaint, or believe that there has been a breach regarding your personal information, please contact our Privacy Officer (see section 11 below). 
                </p>
                <p>
                    If we receive a complaint, we will conduct the relevant enquiries as soon as possible and will keep you informed of the progress of your complaint. Once we have completed our enquiries, we will advise you of the outcome of your complaint in writing.  
                </p>
                <p>
                    If you are not happy with the response we provide, you can make a complaint to the Office of the Australian Information Commissioner (OAIC). Information on how to make a complaint can be found on the OAIC website.
                </p>
            </ol>
            <hr>
            <ol start="11">
                <li class="titleText">
                   <span class="spaceSpan"> Contact us</span>
                </li>
                <p >
                    If you have any questions about our handling of personal information, please contact our Privacy Officer:  
                </p>
                <p>
                    <strong>Mail: </strong> Privacy Officer, Geoscience Australia, GPO Box 378, Canberra ACT 2601
                </p>
                <p >
                    <strong>Email: </strong><a href="mailto:security@ga.gov.au">security@ga.gov.au</a>
                </p>
                <p >
                    <strong>Telephone: </strong>1800 0800 173
                </p>
                <p >
                    <strong>Fax: </strong>02 6249 9999
                </p>
            </ol>
            <hr>
            <ol start="12">
                <li class="titleText">
                    <span class="spaceSpan">Changes to this Privacy Policy</span>
                </li>
                <p >
                    We may amend this Privacy Policy from time to time. A current version will be posted on the Website and you may also obtain a copy by contacting our Privacy Officer (see contact details in section 11 above). 
                </p>
            </ol> 
        </div>
        <p>
            This Privacy Policy was last updated in July 2021. 
        </p>
    </section>
 </div>